@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    width: calc(100% - 38px);
    max-width: 1600px;
  }
  .online {
    @apply border-[2.5px] border-green-400 border-solid;
  }
  .flex0030 {
    flex: 0 0 30%;
  }
  .btn {
    @apply w-[40px] h-[40px] rounded-full flex items-center justify-center active:bg-dark_hover_1;
  }
  .btn-secondery {
    @apply w-[45px] h-[45px] rounded-full flex items-center justify-center bg-dark_bg_2;
  }
  .p16 {
    @apply px-[16px];
  }
  .textPrimary {
    font-size: 16px;
    line-height: 21px;
    @apply text-dark_text_1;
  }
  .textSecondery {
    font-size: 14px;
    line-height: 19px;
    @apply text-dark_text_2;
  }
  .input {
    @apply w-full dark:bg-dark_bg_2 p-1.5 dark:text-dark_text_1 rounded-lg flex-1 outline-none;
  }
  .convos {
    height: calc(100vh-220px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .overflow_scrollbar {
    height: calc(100vh - 155px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 6px !important;
  }
  ::-webkit-scrollbar-track {
    background: transparent !important;
  }
  ::-webkit-scrollbar-thumb {
    background: #444e54 !important;
  }
}

.epr-body::-webkit-scrollbar {
  width: 6px !important;
}
.epr-body::-webkit-scrollbar-track {
  background: transparent !important;
}
.epr-body::-webkit-scrollbar-thumb {
  background: #444e54 !important;
}
.openEmojiAnimation {
  animation: openAn 0.1s forwards;
}
@keyframes openAn {
  0% {
    transform: translateY(60px);
  }
}

/*Animations*/
.rotateAnimation {
  animation: rotate 0.3s forwards;
}
@keyframes rotate {
  0% {
    transform: rotate(-90deg);
  }
}

/* custom scrollbar*/
.scrollbar::-webkit-scrollbar {
  width: 5px;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #444e54;
}

.callbg {
  background-image: linear-gradient(black, black),
    url('https://res.cloudinary.com/depeo6txz/image/upload/v1702897817/uda9fdsziihit4o6ndes.png');
  background-size: cover;
  background-blend-mode: saturation;
}

.largeVideoCall {
  @apply absolute top-0 bottom-0 left-0 right-0 z-20 object-cover h-full bg-red-400 cursor-pointer;
}

.smallVideoCall {
  @apply w-28 h-32 object-cover absolute  bottom-4  right-2 z-30  bg-blue-500 cursor-pointer rounded-lg;
}

.moveVideo {
  @apply bottom-32 transition-all duration-100;
}

.moveActionComp {
  @apply block;
}
